<a href="https://colab.research.google.com/github/Varshi45/FML/blob/main/Multi_Lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("/content/50_Startups.csv")

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
data.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [5]:
x = data.iloc[:,:3]
y = data.loc[:,"Profit"]
type(x),type(y)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [6]:
x = x.to_numpy()
y = y.to_numpy()

In [7]:
type(x),type(y)

(numpy.ndarray, numpy.ndarray)

In [8]:
x.shape,y.shape

((50, 3), (50,))

In [9]:
y = y.reshape(-1,1)
y.shape

(50, 1)

In [10]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.25,random_state=31)
x_train.shape , y_test.shape

((37, 3), (13, 1))

In [11]:
reg = Lasso(alpha=0.1)
reg.fit(x_train,y_train)

Lasso(alpha=0.1)

In [12]:
y_pred = reg.predict(x_train)

In [13]:
print(f'MAE = {mean_absolute_error(y_train, y_pred)}')
print(f'MSE = {mean_squared_error(y_train, y_pred)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred))}')
print(f'R_2 = {r2_score(y_train, y_pred)}')

MAE = 7037.695548349995
MSE = 89528952.53317887
RMSE = 9461.974029407334
R_2 = 0.9403175091800953

In [14]:
y_pred_test = reg.predict(x_test)

In [15]:
print(f'MAE = {mean_absolute_error(y_test, y_pred_test)}')
print(f'MSE = {mean_squared_error(y_test, y_pred_test)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test, y_pred_test))}')
print(f'R_2 = {r2_score(y_test, y_pred_test)}')

MAE = 5218.088969805764
MSE = 48436104.95028587
RMSE = 6959.605229485784
R_2 = 0.9629109951732122